body {
  width: 250px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: auto;
  text-underline-offset: 10px;
}
.circle-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  justify-content: center;
  margin-top: 10px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #e4e7e6;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.button {
  background-color: rgb(62, 160, 221);
  border-radius: 10px;
  color: white;
  border: #c6ebdf;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}
body b {
  color: gray;
}
button:hover {
  background-color: rgb(30, 210, 216);
}
